<!-- Nav bar code -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Manager-Employee Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Signup</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Login Form Code -->
<div class="mat-card-wrraper">
    <mat-card>
        <div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                <h3 class="h3 mb-3 font-weight-normal text-center">SignIn </h3>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email" formControlName="email">
                  
                </mat-form-field>

                <mat-form-field appearance="outline">

                    <mat-label>password</mat-label>
                    <input type="password" matInput formControlName="password">
                   
                </mat-form-field>


                <button mat-raised-button>Login</button>

            </form>


        </div>

    </mat-card>
</div>